@font-face {
	font-family: 'Halflings';
	src: url('../fonts/glyphicons-halflings-regular.woff2') format(‘woff2’),
		url('../fonts/glyphicons-halflings-regular.ttf') format(‘truetype’)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Halflings', sans-serif;
}

main {
    text-align: center;
}

/*  Marie */
#header {
    background: black;
    font-weight: bold;
    padding: 1em;
}

#header img {
    position: absolute;
    padding-left: 7em;
}

#header nav {
    position: relative;
    padding-right: 7em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#header nav a {
    color: gray;
    padding: 0 2em;
    text-decoration: none;
    font-size: 0.8em;
}

#section1 {
    background: url(../images/hero-image.jpg);
}

#section1 h1 {
    color: white;
    font-size: 3em;
    font-weight: normal;
    padding: 0.8em;
}

#section1 p {
    height: 5em;
    width: 43em;
}



/* Olivier */
footer{
    height: 200px;
    background-color: brown;
    color: white;
}
    
.nav li {
    color: grey;
}

.contenaire_vignettes{
    display: flex;
    
}

.icone{
    color: white;
}

.fond_icone{
    background-color: black;
    height: 30px;
    width: 30px;
    border-radius: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vignette{
    display: flex;
    flex-direction: column;
    align-items: center;
}